# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store

# API keys / secret files
ACS_key.txt
*.key
*.secret
*.env
